
.page{
    background-image: url("../images/background.png");
    width: 100%;
    height: 900px;
}
#image{
    width: 40%;
    height: auto;
    margin: 0 auto;
    background: white;
}
.btn{
    font-size: 230%;
    font-family: 'Overpass Mono', monospace;
}
.btn-primary{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    transition: font-size 1s;
}
.btn-primary:hover{
    color: blue;
    background: white;
    font-size: 300%;
}
.btn-success{
    width: 75%;
    margin-top: 10px;
    padding: 10px;
    transition: font-size 1s;
}
.btn-success:hover{
    color: green;
    background: white;
    font-size: 300%;
}
.btn:focus, .btn:active:focus,.btn.active:focus{
    outline: none;
    box-shadow: none;
}
.btn-danger{
    width: 75%;
    margin-top: 10px;
    padding: 10px;
    transition: font-size 1s;
}
.btn-danger:hover{
    color:red;
    background: white;
    font-size: 300%;
}
#title{
    margin-top: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}
#timer{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 72%;
    height: 80%;
    background: yellow;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.quest{
    background: orange;
    font-family: 'Overpass Mono',monospace;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    width: 100%;
    padding: 10px;
    margin: 5px auto;
}